<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="refresh" content="5" />
		<title> Politique de confidentialité  </title>
	 </head>

	<body>

	<h1><center>Politique de confidentialité</center>
	</h1>
	<h2>Introduction</h2>
	<p>
		Devant le développement des nouveaux outils de communication, il est nécessaire de porter une attention particulière à la protection de la vie privée. C'est pourquoi, nous nous engageons à respecter la confidentialité des renseignements personnels que nous collectons.
	</p>
	<h2>Collecte des renseignements personnels</h2>
	<p>	
		Nous ne collectons aucune donnée des utilisateurs.
	</p>	
	 </body>
</html>